$container-width: 74.375rem;
$gutter: 1.25rem;
$color-black: #000;
$color-white: #fff;
$color-blue: #2374e1;
$color-light-blue: #1d9bf0;
$color-dark-blue: #0a66c2;
$color-darker-blue: #143ce8;
$color-red: #ff0000;
$color-green: #03a696;
$color-grey: #f6f6f6;
$color-dark-green: #42959b;
$color-background: $color-white;
$color-text: $color-black;
$color-box-img: $color-black;
$color-link-bg: $color-black;
$color-input-border: $color-black;
$font-family-raleway: "Raleway", sans-serif;
$font-family-poppins: "Poppins", sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-size-70: 4.375rem;
$font-size-65: 4.0625rem;
$font-size-40: 2.5rem;
$font-size-38: calc(3.8rem / 1.6);
$font-size-24: calc(2.375rem / 1.6);
$font-size-22: 1.375rem;
$font-size-20: 1.25rem;
$font-size-18: 1.125rem;
$font-size-15: 0.9375rem;
$transition-timing: 0.3s;
